---
import type { CollectionEntry } from "astro:content";
import PostCard from "./PostCard.astro";
import { getPostUrlBySlug } from "@utils/url-utils";

interface Props {
  posts: CollectionEntry<'posts'>[];
}
const { posts } = Astro.props;
let delay = 0;
const interval = 50;
---
{posts && posts.length > 0 && (
  <section class="mb-6">
    <div class="px-4 md:px-0 mb-3 flex items-center gap-2">
      <div class="w-1 h-5 rounded bg-[var(--primary)]"></div>
      <h2 class="text-xl font-bold text-black dark:text-white">精选</h2>
    </div>
    <div class="transition flex flex-col rounded-[var(--radius-large)] bg-[color-mix(in_oklab,var(--card-bg)_50%,transparent)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
      {posts.map((entry) => (
  <PostCard
          entry={entry}
          title={entry.data.title}
          tags={entry.data.tags}
          category={entry.data.category}
          published={entry.data.published}
          updated={entry.data.updated}
          url={getPostUrlBySlug(entry.slug)}
          image={entry.data.image}
          description={entry.data.description}
          draft={entry.data.draft}
          pinned={entry.data.pinned}
          class:list="onload-animation"
          style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
        />
      ))}
    </div>
  </section>
)}
